<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav-links">
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
        <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  <header class = "jumbotron">
    <h1>Vacation Blog</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>

  </footer>
</div>
