<h1>Welcome to Vacation Finder Blog</h1>

<p>
  We hope you find what you're looking for.
</p>

<ul>
  {{#each model as |place|}}
    <li>{{place.location}} - {{place.description}}</li>
    {{/each}}
</ul>
