<h1>Welcome to Vacation Finder Blog</h1>

<p>
  We hope you find what you're looking for.
</p>

<ul>
  {{#each model as |destination|}}
    {{destination-tile destination=destination destroyDestination="destroyDestination"}}
  {{/each}}
</ul>

<!-- <ul>
  {{#each model as |rental-from-template|}}
    {{rental-tile rental-in-component=rental-from-template}}
  {{/each}}
</ul>  This is the literal explanation of what above is doing-->
